.headerContainer{
    height: "auto" !important;
    width: 98% !important;
}
.stiky{
    position: absolute !important;
    width: 19px !important;
    height: 19px !important;
    border-radius: 10px !important;
    align-items: center !important;
    display: flex !important;
    justify-content: center !important;
    padding-top: 2px !important;
    margin-top: -12px !important;
    margin-left: -10px !important;
}
.iconDrawer{
    margin-left: 10px !important;
}
.logoIcon{
    object-fit: contain !important;
    height: 51px !important;
    width: 100% !important;
}

@media (max-width: 350px) {
.logoIcon{
    height: 30px !important;
}
}
@media only screen and (min-width: 351px) and (max-width: 500px) {
.logoIcon{
    height: 40px !important;
}


}